.card {
  background-color: rgb(248, 241, 232);
}

.container {
  width: 90%;
}

.conteudo {
  width: 90%;
}

.novo {
  width: 90%;
  margin-top: 1rem;
}

.acoes {
  text-align: end;
}

mat-card,
mat-card-subtitle {
  color: blue;
}

.badge {
  margin-top: .2rem;
  margin-bottom: 0.1px;
  display: flex;
  justify-content: end;
}

.ativos{
  background-color: rgb(12, 240, 12);
  color: #1f30ea;
}
