<form>
    <h1>Cadastro de Pessoas</h1>
    <div class="dados">
        <mat-form-field class="nomePessoa">
            <mat-label>Nome Completo</mat-label>
            <input matInput size="60" [(ngModel)]="pessoa.nome" name="pessoa.nome" placeholder="Ex. Edson Correia">
        </mat-form-field>
        <p>

            <mat-form-field class="situacao">
                <mat-label>Situação do Pessoa</mat-label>
                <select matNativeControl required [(ngModel)]="pessoa.ativo" name="pessoa.ativo">
                    <option [value]="true">Ativo</option>
                    <option [value]="false">Inativo</option>

                </select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="dataAdmissao" appearance="fill">

                <mat-label>Data de Admissao</mat-label>

                <input [(ngModel)]="pessoa.dataAdmissao" name="Pessoa.dataAdmissao" matInput [matDatepicker]="dp3" />

                <mat-hint>dd/MM/yyyy</mat-hint>

                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>

                <mat-datepicker #dp3></mat-datepicker>

            </mat-form-field>
        </p>
    </div>

    <div class="botoes">

        <button (click)="cadastrar()" mat-raised-button color="primary" name="botaoCadastrar"> Gravar </button>

        <button (click)="cancelar()" mat-raised-button color="warn" name="botaoCancelar"> Cancelar </button>


    </div>
</form>