<div class="container">

    <div class="badge">
        <button (click)="verInativos()" mat-raised-button color="warn"> Ver Inativos </button>
       </div>

    <div class="badge">
        <button mat-raised-button color="warn" matBadge="{{ativo}}"> Alunos Ativos </button>
    </div>
    <button  routerLink="cadastro" class="novo mat-elevation-z5" mat-raised-button color="primary">Novo</button>

    <div class="conteudo" *ngFor="let item of list">
        <mat-card class="card mat-elevation-z3">
            <mat-card-header>
                <mat-card-title>{{item.nome}}</mat-card-title>
                <mat-card-subtitle>{{item.dataAdmissao}}</mat-card-subtitle>
                <mat-card-subtitle>{{item.ativo ? "Ativo" : "Inativo"}}</mat-card-subtitle>
            </mat-card-header>

            <div class="acoes">
                <button (click)="inativar(item)" mat-mini-fab color="primary" id="gravar">
                 <mat-icon>power_settings_new</mat-icon>
                </button>
                <button mat-mini-fab color="accent" id="editar">
                 <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab (click)="apagar(item.id)" color="warn" id="apagar">
                 <mat-icon>delete</mat-icon>
                </button>
               </div>
        </mat-card>
    </div>
</div>
